.video-card {
  height: 330px;
  background: white;
  padding: 20px 12px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  &.dark-mode {
    background: #1a1919;

    .title {
      color: white;
    }

    .channel-name,
    .lower span {
      color: rgba(255, 255, 255, 0.342);
    }
  }

  .thumbnail {
    width: 100%;
    position: relative;

    img {
      width: 100%;
      height: 170px;
      border-radius: 12px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
      border: 2px solid white;
    }

    .channel-pic {
      position: absolute;
      bottom: -10px;
      left: 9px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
      border-radius: 15px;
      height: 40px;
      width: 39px;
      padding: 2px;

      img {
        height: 37px;
        width: 37px;
      }
    }
  }

  .title,
  .channel-name,
  .lower {
    padding: 4px 12px;
  }
  .title {
    font-size: 14px;
    font-weight: bold;
    padding-top: 22px;
    line-height: 22px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .channel-name {
    color: rgba(0, 0, 0, 0.664);
    display: flex;
    align-items: center;
    width: 100%;

    span {
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .MuiSvgIcon-root {
      font-size: 14px;
      margin-left: 10px;
    }
  }

  .lower {
    span {
      color: rgba(0, 0, 0, 0.664);
      font-size: 13px;
      margin: 0 3px;
    }
  }
}

@media screen and (max-width: 560px) {
  .video-card {
    width: 310px;
    padding: 22px 20px;
  }
}
