@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

.sidebar {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  height: 97vh;
  width: 95%;

  &.hide-sidebar {
    transform: translateX(-300px);
    width: 0%;
    transition: 1s all;
  }

  .logo {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    span {
      font-family: "Noto Sans";
      letter-spacing: 0.1px;
      font-weight: bold;
    }

    .MuiSvgIcon-root {
      color: red;
      font-size: 40px;
    }
  }

  .sidebar-headings {
    text-transform: uppercase;
    font-size: 12px;
    margin: 14px 0 14px 0px;
    color: rgba(15, 15, 15, 0.9);
  }

  .navigation-options {
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    .option {
      text-decoration: none;
      color: rgba(15, 15, 15, 0.8);
      width: 100%;
      padding: 2px;
      display: flex;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

      .MuiSvgIcon-root {
        font-size: 20px;
      }
      span {
        line-height: 5px;
        font-size: 14px;
        margin-left: 12px;
      }
    }
  }

  .subscriptions-list {
    min-height: 130px;
    max-height: 140px;

    .option {
      span {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }

  .more-from-yt {
    min-height: 100px;
    max-height: 100px;
  }
}

// Dark Mode
.dark-mode {
  background: #1f1e1e;

  .logo {
    span {
      color: white;
    }
  }

  .sidebar-headings {
    color: white;
  }
  .navigation-options {
    .option {
      color: white;
    }
  }
  .subscriptions-list {
    .option {
      span {
        color: white;
      }
    }
  }
}
