.trending-interests {
  width: 100%;
  margin: 20px 0;

  &.dark-mode {
    .interests {
      background: black;
      .topics {
        background-color: rgba(36, 34, 34, 0.68);
        color: white;
        box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.05);
      }

      .active {
        background: white;
        color: black;
      }

      .see-more {
        background-color: rgba(36, 34, 34, 0.68);
        color: white;
        cursor: pointer;

        &::before {
          background: linear-gradient(
            to right,
            rgba(15, 15, 15, 0.12) 30%,
            rgba(14, 11, 11, 0.99) 75%
          );
        }
      }
    }
  }

  .interests {
    display: flex;
    justify-content: space-around;
    width: 100%;

    .topics {
      text-decoration: none;
      color: black;
      background-color: rgba(255, 255, 255, 0.6);
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
      padding: 8px 20px;
      border-radius: 7px;
      font-size: 14px;
    }
    .active {
      background: rgba(0, 0, 0, 0.788);
      color: white;
    }

    .see-more {
      border-radius: 7px;
      background-color: rgba(255, 255, 255, 0.6);
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        width: 120px;
        height: 32px;
        border-radius: 7px;
        background: linear-gradient(
          to right,
          rgba(245, 245, 245, 0.6) 10%,
          rgba(245, 245, 245, 1) 90%
        );
        left: -125px;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .trending-interests {
    position: relative;
    .interests {
      overflow: scroll;
      overflow-y: hidden;
      padding: 30px 20px;
      margin: auto;
      padding-left: 415px;

      .topics {
        width: fit-content;
        margin: 0 7px;

        &:nth-child(2) {
          display: none;
        }

        &:last-child {
          display: none;
        }
      }
      .see-more {
        display: none;
      }
    }
  }
}
