.sidebar {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  height: 800px;

  .logo {
    width: 110px;
    height: 50px;
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .sidebar-headings {
    text-transform: uppercase;
    font-size: 12px;
    margin: 20px 0 14px 0px;
    color: rgba(15, 15, 15, 0.9);
  }

  .navigation-options {
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    .option {
      text-decoration: none;
      color: rgba(15, 15, 15, 0.8);
      width: 100%;
      padding: 2px;
      display: flex;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

      .MuiSvgIcon-root {
        font-size: 20px;
      }
      span {
        line-height: 5px;
        font-size: 14px;
        margin-left: 12px;
      }
    }
  }

  .subscriptions-list {
    min-height: 130px;
    max-height: 170px;

    .option {
      span {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }

  .more-from-yt {
    min-height: 100px;
    max-height: 120px;
  }
}
