.youtube-ad {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: relative;

  .image {
    width: 100%;
    height: 280px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 15px;
    }
  }

  .about-ad {
    position: absolute;
    top: 30px;
    left: 20px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .upper {
      width: 400px;

      img {
        width: 100%;
      }
    }
    .lower {
      font-size: 18px;
    }
  }

  .one-month-free-btn {
    position: absolute;
    background: transparent;
    padding: 8px 20px;
    outline: none;
    border: 2px solid blue;
    font-size: 14px;
    color: rgb(30, 109, 255);
    bottom: 50px;
    font-weight: 600;
    left: 20px;
    text-transform: uppercase;
    cursor: pointer;
  }
}

@media screen and (max-width: 560px) {
  .youtube-ad {
    .about-ad {
      .upper {
        img {
          backdrop-filter: blur(1px);
        }
      }
      .lower {
        backdrop-filter: blur(4px);
        font-size: 18px;
      }
    }

    .one-month-free-btn {
      padding: 7px 10px;
      backdrop-filter: blur(10px);
      color: rgb(0, 4, 255);
    }
  }
}
